.main-container {
  margin: 100px 100px 0 100px;
  min-height: 300px;
  height: 700px;
  background-color: rgba(0, 217, 255, 0.35);
  border: 25px solid #40c4c8;
  border-image: url(/media/images/css_border-image-1.png) 29 / 25px round;
}
.card-text-p:after {
  content: "Печально, правда?";
  color: olivedrab;
  font-style: normal;
}
